.header {
    //nav
    #menu {
        .nav-extended {
            background: $color3;
            opacity: 100%;
            .nav-wrapper {
                max-width: 1300px;
                margin: auto;
                .brand-logo {
                    height: 100%;
                    img {
                        height: 100%;
                    }
                }
                .sidenav-trigger {
                    .material-icons {
                    }
                }
                //web-screen-nav
                #nav-mobile {
                    text-align: center;
                    li {
                        width: 170px;
                        a,
                        .a {
                            font-size: 20px;
                        }
                        .dropdown-trigger {
                            .material-icons {
                            }
                        }
                    }
                }
            }
        }
    }
    //mobile nav
    .sidenav {
        background: $color3;
        .logo {
            text-align: center;
            height: 180px;
            background: $color1;
            img {
                height: inherit;
                background: $color1;
            }
        }
        li {
            a,
            .a {
                font-size: 20px;
                font-weight: 300;
                height: 60px;
                color: $color1;
                line-height: 60px;
                .material-icons {
                    height: inherit;
                    line-height: inherit;
                    color: $color1;
                }
            }
            .dropdown-trigger {
            }
        }
    }
    //web dropdown nav
    #dropdown-web {
        background: $color2;
        top: -64px;
        li {
            .a {
                color: $color1;
                &:hover {
                    background: $color3;
                }
            }
        }
    }
    //web dropdown mob
    #dropdown-mob {
        background: $color2;
        li {
            &:hover {
                background: $color3;
            }
            .a {
            }
        }
    }
}
