@import "gallery-style";

.trabalhe {
    margin-bottom: 40px;
    h1 {
        padding: 0 10px;
        text-align: center;
    }
    .form {
        width: 100%;
        height: 2500px;
    }
}

@media screen and (max-width: 319px) {
    .trabalhe {
        .form {
            width: 100%;
            height: 2800px;
        }
    }
} 

@media screen and (min-width: 320px) and (max-width: 393px) {
    .trabalhe {
        .form {
            width: 100%;
            height: 2700px;
        }
    }
}

@media screen and (min-width: 394px) and (max-width: 434px) {
    .trabalhe {
        .form {
            width: 100%;
            height: 2650px;
        }
    }
}

@media screen and (min-width: 435px) and (max-width: 449px) {
    .trabalhe {
        .form {
            width: 100%;
            height: 2600px;
        }
    }
}

@media screen and (min-width: 450px) and (max-width: 570px) {
    .trabalhe {
        .form {
            width: 100%;
            height: 2550px;
        }
    }
}
